<form style="display: inline-block" method="post" action="{{ path('app_crud_delete',  {id: entity.id, entityName: entityName}) }}" onsubmit="return confirm('{{ 'testimonial.delete_confirm'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity.id) }}">
    <button class="btn btn-danger btn-sm">{{ 'testimonial.delete'|trans }}</button>
</form>
