<section class="loan-two loan-two--service-details section-space">
	<div class="container">
		<div class="loan-two__inner" style="background-image: url({{asset('theme/loan/assets/images/resources/loan-bg-2-1.jpg')}});">
			<div class="loan-two__form">
				<div class="loan-two__form__bg" style="background-image: url({{asset('theme/loan/assets/images/shapes/loan-calculator-form-bg-1-1.png')}});"></div>
				<!-- /.loan-two__form__bg -->
				{{ include('@theme/'~setting('theme')~'/inc/calculator.html.twig') }}
			</div>
			<!-- /.loan-two__form -->
			<img src="{{asset('theme/loan/assets/images/shapes/loan-money-2-1.png')}}" alt="money" class="loan-two__money">
		</div>
		<!-- /.loan-two__inner -->
	</div>
	<!-- /.container -->
</section>
<!-- /.loan-two section-space -->
