{% extends '@notifs/layout.html.twig' %}

{% block subject %}Email de test{% endblock %}

{% block body %}
     <table class="table">
        <tbody>
            <tr>
                
                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eveniet earum reprehenderit animi ab cupiditate magni nam aut praesentium, sequi suscipit illum! Ab ex culpa provident eum ut odit architecto!</td>
            </tr>
            
            
        </tbody>
    </table>
{% endblock %}
