
	<div class="client-carousel @@extraClassName">
		<div class="container">
			<div class="client-carousel__one easilon-owl__carousel owl-theme owl-carousel" data-owl-options='{
										            "items": 5,
										            "margin": 65,
										            "smartSpeed": 700,
										            "loop":true,
										            "autoplay": 6000,
										            "nav":false,
										            "dots":false,
										            "navText": ["<span class=\"icon-arrow-left\"></span>","<span class=\"icon-arrow-right\"></span>"],
										            "responsive":{
										                "0":{
										                    "items": 2,
										                    "margin": 50
										                },
										                "500":{
										                    "items": 3,
										                    "margin": 60
										                },
										                "768":{
										                    "items": 4,
										                    "margin": 70
										                },
										                "992":{
										                    "items": 5,
										                    "margin": 60
										                },
										                "1200":{
										                    "items": 5,
										                    "margin": 180
										                }
										            }
										            }'>
				{% for brand in brands() %}
					<div class="client-carousel__one__item">
						<img src="{{asset(brand.image)}}" alt="easilon" class="client-carousel__one__image">
						<img src="{{asset(brand.image)}}" alt="easilon" class="client-carousel__one__hover-image">
					</div>
					<!-- /.owl-slide-item-->
				{% endfor %}
			</div>
			<!-- /.thm-owl__slider -->
		</div>
		<!-- /.container -->
	</div>
	<!-- /.client-carousel -->