{% extends '@admin/base.html.twig' %}

{% block title %}Ajouter une language{% endblock %}

{% block body %}

    <!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Ajouter une language</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ajouter une language</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1>Ajouter une language</h1>

                {{ include('@admin/crud/language/_form.html.twig') }}
            </div>
        </div>
        <a class="btn  btn-block btn-outline-primary" href="{{ path('app_crud_index',{entityName: 'language'}) }}">back to list</a>

    </div>
</div>
{% endblock %}
